<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <form method="POST" action="uploadFile" enctype="multipart/form-data">
        选择文件: <input type="file" name="file">
        <input type="submit" value="上传">
    </form>
</body>
</html>